.footer
	.block21
		.block-subvideo
			.x-cream
				| #{logo.text}
				span #{logo.after_text}
			ul
				li.popup1
					a #{footer.links.link_1}
				li.popup2
					a #{footer.links.link_2}
				li.popup3
					a #{footer.links.link_3}
		.clear
		p.text1
			span #{footer.warning.large}
			|  #{footer.warning.regular}
		p.text2
			| Copyright © 2017
			br
			| MAsterSPA, LLC   ITN 104380285762   PRSN 427602692592
		.partners
			img(src='img/lend/icon-6.png')
			img(src='img/lend/icon-7.png')
			img(src='img/lend/icon-8.png')
			img(src='img/lend/icon-9.png')
			.sub-artners
				span #{footer.bottom_small_texts.text_1}
				span #{footer.bottom_small_texts.text_2}
				span #{footer.bottom_small_texts.text_3}
		.clear
	.clear