doctype html
html.no-js(lang="#{current_lang}")

	include include/head_insider

	body(class="#{current_lang}").cart.cart2
		.page-wrap
			.top-message
				.container
					p
						span.top-message-capt #{cart_step2.top_message.highlight_1}
						| #{cart_step2.top_message.regular_1}
						span.shipping-bonus #{cart_step2.top_message.highlight_2}
						| #{cart_step2.top_message.regular_2}
			include include/header_logo_and_tv_insider
			section.step2
				.container.step2-container
					p.step2-top
						| #{cart_selected_package.remained.regular_1}
						img(src='img/step2-content-top-img.png')
						span.red #{cart_selected_package.remained.italic_1}
						|  #{cart_selected_package.remained.regular_2}
						span.red.upcase #{cart_selected_package.remained.italic_2}
					.cart-content.clearfix
						.order-summury
							p.order-summury-title #{cart_step2.title}
							ul
								li.order-summury-item.active.prod1
									a.order-summury-item-link.unbind-clik(href='#')
										p.order-summury-item-title
											| #{cart_step2.three_month_card.title.regular}
											span.red #{cart_step2.three_month_card.title.underline}
										.order-summury-item-checkbox checkbox
										.step2-freeshiping-icon
										span.choose-item-click
											span.retail-price #{cart_step1.price_text} C$49.95
											span.price-wrap
												span.price €29.95
												span.per-bottle
													span.new-string #{cart_step1.per_bottle.line_1}
													span.new-string #{cart_step1.per_bottle.line_2}
										span.best-value #{cart_step2.three_month_card.title.best_value}
										span.check-box #{cart_selected_package.selected}
								li.order-summury-item.prod2
									a.order-summury-item-link.unbind-clik(href='#')
										p.order-summury-item-title
											| #{cart_step2.two_month_card.title.regular}
											span.red #{cart_step2.two_month_card.title.underline}
										.order-summury-item-checkbox checkbox
										.step2-freeshiping-icon
										span.choose-item-click
											span.retail-price #{cart_step1.price_text} C$49.95
											span.price-wrap
												span.price €36.95
												span.per-bottle
													span.new-string #{cart_step1.per_bottle.line_1}
													span.new-string #{cart_step1.per_bottle.line_2}
										span.check-box #{cart_selected_package.selected}
								li.order-summury-item.prod3
									a.order-summury-item-link.unbind-clik(href='#')
										p.order-summury-item-title #{cart_step2.one_month_card.title.regular}
										.order-summury-item-checkbox checkbox
										span.step2-freeshiping-icon #{cart_step2.one_month_card.top_right_text}
										span.step2-lowest-price #{cart_step2.one_month_card.center_text}
										span.choose-item-click
											span.retail-price #{cart_step1.price_text} C$49.95
											span.price-wrap
												span.price €39.95
												span.per-bottle
													span.new-string #{cart_step1.per_bottle.line_1}
													span.new-string #{cart_step1.per_bottle.line_2}
										span.check-box #{cart_selected_package.selected}
							.bottoms
								p.fee-info #{international_fee}
								img.amazon-checkout(src='img/lang/#{current_lang}/amazon-checkout.png', alt='pic')
								p.fee-text
									| #{checkout}
									
						include include/payment

		include include/footer_insider

		include include/scripts