doctype html
html(lang='#{current_lang}')
	
	include include/head_index

	body(class='#{current_lang}').index
		.middle
			.net_tsifr
				.line1
				.block-mid
					.block2
						span.span1
							img.img1(src='img/lend/img-1.png')
							img.img2(src='img/lend/img-1-1.png', alt='')
						p
							| #{index.warning_text}
						span.span2
							img(src='img/lend/img-2.png', alt='')
					.block2-2
						.span3 #{index.header.logo_text}
						.span4
							span #{tv_text}
							img(src='img/lend/img-3.png', alt='')
					.block3
						.block3-1
							| #{index.header.main_title.line_1}
						.block4 #{index.header.main_title.line_2}
					.block5
						.span5-1
							span.bl1 #{index.header.list.point_1.line_1}
							span.bl2 #{index.header.list.point_1.line_2}
						.span5-2
							span.bl1 #{index.header.list.point_2.line_1}
							span.bl2 #{index.header.list.point_2.line_2}
							span.bl3 #{index.header.list.point_2.line_highlighted}
						.span5-3
							span.bl1 #{index.header.list.point_3.line_1}
							span.bl2 #{index.header.list.point_3.line_2}
						.span5-4
							span.bl1 #{index.header.list.point_4.line_1}
							span.bl2 #{index.header.list.point_4.line_2}
						.span5-5
							span.bl1 #{index.header.list.point_5.line_1}
							span.bl2 #{index.header.list.point_5.line_2}
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
					img.img-ver(src='img/lend/img-8.png', alt='')
					.tsel
						img(src='img/lang/#{current_lang}/lend/img-4.png', alt='')
						img(src='img/lang/#{current_lang}/lend/img-5.png', alt='')
					.get-rid #{index.header.arrow}
					.blokc6
						img.img3(src='img/lang/#{current_lang}/lend/img-9.png', alt='')
						img.img4(src='img/lend/img-10.png', alt='')
						img.img5(src='img/lend/img-11.png', alt='')
					img.img6(src='img/lend/img-12.png', alt='')
					.clear
			.tut_toje
				.block-mid
					.span6 Having a cellulite means
					.span7 you haven’t use NIVELE cream
					.block8
						.span9
							img(src='img/lend/img-13.png', alt='')
							span
								| Cream NIVELE is a new scientific development, which fuses all advantages of means of previous generations. A carefully balanced consist and innovative formula make it one of the most effective means to deal with cellulite to date.
						.span9
							img(src='img/lend/img-14.png', alt='')
							span
								| NIVELE cream contains about 50 biologically active substances that act immediately on all causes of the appearance of cellulite. It not only doesn't harm the body, but also heals the skin. The cream has a great prolonged action, due to what prevents the development of cellulite in the future.
						.span9
							img(src='img/lend/img-15.png', alt='')
							span
								| As numerous clinical studies reveal, as well as the experience of using the cream by ordinary customers, NIVELE helps to cope with cellulite in 99% of cases. More than 1 million customers around the world have already chosen this cream, and most of them forgot about the extremely unattractive "orange peel" forever.
					.block9
						img(src='img/lend/img-16.png', alt='')
						img(src='img/lend/img-17.png', alt='')
			.i_zdesi_net
				.block-mid
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
					.span10 Unique benefits of NIVELE cream
					.block11
						.span11
							| Completely eliminates cellulite
							span in just 1 course of use
						.span11 Splits the subcutaneous fat
						.span11 Displays excess fluid and toxins
						.span11 Strengthens connective tissue
						.span11 Provides the skin with nutrients
						.span11 Improves skin tone and elasticity
						.span11 Eliminates fat deposits
					.block12
						.span11 Improves the metabolism of fat cells
						.span11
							| Improves microcirculation 
							span and strengthens blood vessels
					.block14
						.span13-title NIVELE cream will clear your skin from cellulite with:
						.span13 No surgery
						.span13 No pain
						.span13 No terrible diets
						.span13 No expensive drugs
						.span13 No serious spending on beauty salons
						.span13 No debilitating physical exercises
				.clear
			.dalshe_toje_net
				.line3
				.block-mid
					.block16
						.span14 NIVELE cream is easy to use
						.span-for for the best result 
						img(src='img/lend/img-22.png', alt='')
						span Squeeze a small amount of cream on the palm.
						img(src='img/lend/img-23.png', alt='')
						span Massaging, apply the cream to problematic areas.
						img(src='img/lend/img-24.png', alt='')
						span Repeat 2-3 times a day.
						.span15
							| Use the cream course
							br
							| depending on the stage of cellulite:
						.block17
							.span16
								span 1 stage
								span 2 stage
								span 3 stage
								span 4 stage
							.span17
								span 1 week
								span 2-3 weeks
								span 3-4 weeks
								span 4-5 weeks
					.block18
						.span18 Full course of NIVELE cream takes only 4 weeks!
						.block19
							.span19
								img(src='img/lend/img-25.png', alt='')
								span.weeks 1 Week:
								span.desc-week
									| The skin is noticeably tighten it becomes healthier. Gradually, the flaccidness goes.
							.span19
								img(src='img/lend/img-26.png', alt='')
								span.weeks 2 Week:
								span.desc-week
									| Cellulite subsides, the tubercles are less pronounced. The elasticity and resilience of the skin are increased.
							.span19
								img(src='img/lend/img-27.png', alt='')
								span.weeks 3 Week:
								span.desc-week
									| "Orange peel" is weakly evident, the tubercles disappear completely; the skin acquires a healthy color.
							.span19
								img(src='img/lend/img-28.png', alt='')
								span.weeks 4 Week:
								span.desc-week
									| There is no trace of cellulite. The skin becomes beautiful, fit and young. No "orange peel" even if squeezed.
							a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
								img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
			.ya_ih_ubral
				.block-mid
					.span20 What causes cellulite and
					.span21 how NIVELE fights with it
					.span22
						span
							| According to the latest statements of doctors, cellulite is not only a cosmetology problem, but a real disease, which affects both men and women.
							br
							|  Сellulite is a change in the structure of subcutaneous fat cells. In the affected areas, the metabolism is disturbed, which leads to abnormal growth of fat cells, accumulation of excess fluid, metabolic products and toxins. All this brought together gives an unattractive look to skin, sadly known so-called “orange peel”.
						img(src='img/lend/img-29.png', alt='')
						.clear
					.span23
						| NIVELE cream normalizes the metabolism in all layers of the skin and cleaves the accumulated subcutaneous fat, which leads to a significant decrease in the "orange peel" and the return of elasticity and resilience of the skin.
			.polnostiu
				.block-mid
					.span24 The basis of the effectiveness of NIVELE
					.span25 is a high concentration of caffeine
					.block22
						.span26
							| Up to date caffeine is the most famous natural stimulating and vasodilating agent, which, thanks to its unique properties, is able to combat subcutaneous fat effectively, activating its’ active cleavage.
						.span27
							| In addition, caffeine accelerates metabolism, normalizes lymphatic drainage and stimulates blood circulation.
					.block23
						img.prod-l(src='img/lend/img-43.png', alt='')
						img.prod-l2(src='img/lend/img-44.png', alt='')
						.span28 more details on cream
						.block24
							.span29 Cola extract
							.span30
								| It activates the processes of skin renewal and rejuvenation, increases the permeability of capillaries, improves lymphatic drainage, cleaves subcutaneous fat, improves blood microcirculation and promotes softening and careful removal of surface skin cells.
							.span29 Seaweed extract
							.span30
								| It removes excess fluid from the subcutaneous layers, reduces tubercles and irregularities on the skin, activates the process of splitting fats and removes puffiness. It prevents the appearance of excess fat and excretion products in the intercellular space.
							.span29 Calendula extract
							.span30
								| It cleanses skin cells from toxins, rejuvenates and smoothes the skin, makes it elastic again, improves skin color. It dissolves hydrophobic toxins and improves endocrine glands. The extract also expands the pores, enhances the effect of other ingredients of the cream, ensuring their penetration into the deeper layers of the skin.
						a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
							img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
				.clear
			.iz_vseh
				.line5
				.block-mid
					.span31 Expert conclusion
					.span32 from Adamson L. dermatologist cosmetologist, Candidate of Medical Sciences
					.span33
						img(src='img/lend/img-30.png', alt='')
						img(src='img/lend/img-31.png', alt='')
						img(src='img/lend/img-32.png', alt='')
					.block26
						p
							| “To date, the problem of cellulite is more urgent than ever. If earlier this disease, as a rule, appeared at the age of 30-40 years, today signs of cellulite can be seen in 18-year-old girls. And the most terrible thing is that cellulite won't go by itself. Over time, it will only develop further, greatly reducing the attractiveness of a person.
						p
							| You can get rid of cellulite by using special means. For example, NIVELE cream is a great helper. This is an innovative development of scientists, which uses the most modern technology of cold extraction, which allows saving the maximum of useful substances from plants in the production of the cream.
						p
							| Due to the high content of extracts of caffeine, seaweed, cola and calendula, NIVELE influences cellulite in a complex way and eliminates all causes of its appearance. To date, the cream XXX is one of the most effective and safe means to fight cellulite, which I recommend to all my patients.”
			.glavnih
				.block-mid
					.span36 Our customers say
					section.reviews
						.reviews-carousel
							.reviews-item-wrap
								.cont-f
								.reviews-item
									.span34
										span.span34-1 From:
										span.span34-2 Sarah, 34 y.o.
									.span35
										| “The cream is wonderful! I had a cellulite, which I could not get rid of for several years. I've tried different means: from various creams and traditional recipes, to anti-cellulite programs in salons. Nothing helped as much as NIVELE. Cellulite was gone in the 90-95% in just a month! Very good cream, especially for this price. Pleasantly surprised”
									.block28
										img(src='img/lang/#{current_lang}/lend/img-33.jpg', alt='')
										img(src='img/lang/#{current_lang}/lend/img-34.jpg', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
								.cont-f.two
								.reviews-item
									.span34
										span.span34-1 From:
										span.span34-2 Martha, 29 y.o.
									.span35
										| “I liked the effect of the cream. The skin became smoother, resilient and more elastic indeed. I didn’t have a severe cellulite (it appeared during pregnancy), but it passed completely. Moreover, the spider veins disappeared, and the color of the skin improved. I used the cream NIVELE for about 2 weeks. I recommended it to my friend, she also liked it”
									.block28
										img(src='img/lang/#{current_lang}/lend/img-36.jpg', alt='')
										img(src='img/lang/#{current_lang}/lend/img-37.jpg', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
							.reviews-item-wrap
								.cont-f
								.reviews-item
									.span34
										span.span34-1 From:
										span.span34-2 Sarah, 34 y.o.
									.span35
										| “The cream is wonderful! I had a cellulite, which I could not get rid of for several years. I've tried different means: from various creams and traditional recipes, to anti-cellulite programs in salons. Nothing helped as much as NIVELE. Cellulite was gone in the 90-95% in just a month! Very good cream, especially for this price. Pleasantly surprised”
									.block28
										img(src='img/lang/#{current_lang}/lend/img-33.jpg', alt='')
										img(src='img/lang/#{current_lang}/lend/img-34.jpg', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
								.cont-f.two
								.reviews-item
									.span34
										span.span34-1 From:
										span.span34-2 Martha, 29 y.o.
									.span35
										| “I liked the effect of the cream. The skin became smoother, resilient and more elastic indeed. I didn’t have a severe cellulite (it appeared during pregnancy), but it passed completely. Moreover, the spider veins disappeared, and the color of the skin improved. I used the cream NIVELE for about 2 weeks. I recommended it to my friend, she also liked it”
									.block28
										img(src='img/lang/#{current_lang}/lend/img-36.jpg', alt='')
										img(src='img/lang/#{current_lang}/lend/img-37.jpg', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
						.reviews-carousel-nav-wrap
							.reviews-carousel-nav
								.reviews-carousel-arrows
								.reviews-carousel-dots
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
			.blokov
				.block-mid
					.span37 Extra Benefits of NIVELE
					.block30
						.span38 Effective at all stages of cellulite
						.span39
							| Innovative formula with synergistic effect 
							span each ingredient reinforces the actions of others
						.span40
							| Notable result in a few days 
							span after the start of use
						.span41 The easiest way to get rid of cellulite
						.span42
							| A certified product 
							span that passed all necessary tests
						.span43
							| Contains useful vitamins and microelements 
							span which additionally heal the skin
						.span44
							| Completely natural 
							span
								| does not contain GMO, alcohol,
								br
								| harmful to health dyes and preservatives
						.span45 Affordable price
						.clear
					.span45-5 Get rid of cellulite in 1 course!
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
					.clear
				.clear
			.raduysea
				.block-mid
					.span46 Just imagine what your life will be like as you get rid of cellulite!
					.block32.sup
						.span47
							| You can be proud of your body
							br
							| – because it will no longer have
							br
							| an "orange peel"
						.span47
							| You’ll become beautiful,
							br
							| sexy and self-confident again
						.span47
							| Men will stop looking
							br
							| at you with disgust, you’ll be
							br
							| desirable again
					img.img9(src='img/lend/img-38.png', alt='')
					img.img9-9(src='img/lend/img-38-8.png', alt='')
					.block32.sub
						.span47
							| You’ll suffering from loneliness
							br
							| and finally you will find the
							br
							| man of your dreams
						.span47
							| You’ll cease to be shy of your body,
							br
							| be able to wear open clothes
						.span47
							| Your husband will falls in love
							br
							| with you again and stop
							br
							| looking at other girls
					.span48
						| NIVELE cream will help you to get rid of cellulite in just 2-4 weeks, as already helped many women worldwide.
					.span49 Don’t refuse yourself to bring back your beauty!
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')

				include include/footer

		include include/modals.jade

		include include/scripts