doctype html
html(lang='#{current_lang}')
	
	include include/head_index

	body(class='#{current_lang}').index
		.middle
			.net_tsifr
				.line1
				.block-mid
					.block2
						span.span1
							img.img1(src='img/lend/img-1.png')
							img.img2(src='img/lend/img-1-1.png', alt='')
						p
							| #{index.warning_text}
						span.span2
							img(src='img/lend/img-2.png', alt='')
					.block2-2
						.span3 #{index.header.logo_text}
						.span4
							span #{tv_text}
							img(src='img/lend/img-3.png', alt='')
					.block3
						.block3-1
							| #{index.header.main_title.line_1}
						.block4 #{index.header.main_title.line_2}
					.block5
						.span5-1
							span.bl1 #{index.header.list.point_1.line_1}
							span.bl2 #{index.header.list.point_1.line_2}
						.span5-2
							span.bl1 #{index.header.list.point_2.line_1}
							span.bl2 #{index.header.list.point_2.line_2}
							span.bl3 #{index.header.list.point_2.line_highlighted}
						.span5-3
							span.bl1 #{index.header.list.point_3.line_1}
							span.bl2 #{index.header.list.point_3.line_2}
						.span5-4
							span.bl1 #{index.header.list.point_4.line_1}
							span.bl2 #{index.header.list.point_4.line_2}
						.span5-5
							span.bl1 #{index.header.list.point_5.line_1}
							span.bl2 #{index.header.list.point_5.line_2}
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
					img.img-ver(src='img/lend/img-8.png', alt='')
					.tsel
						img(src='img/lang/#{current_lang}/lend/img-4.png', alt='')
						img(src='img/lang/#{current_lang}/lend/img-5.png', alt='')
					.get-rid #{index.arrow}
					.blokc6
						img.img3(src='img/lang/#{current_lang}/lend/img-9.png', alt='')
						img.img4(src='img/lend/img-10.png', alt='')
						img.img5(src='img/lend/img-11.png', alt='')
					img.img6(src='img/lend/img-12.png', alt='')
					.clear
			.tut_toje
				.block-mid
					.span6 #{index.havent_use.title.line_1}
					.span7 #{index.havent_use.title.line_2}
					.block8
						.span9
							img(src='img/lend/img-13.png', alt='')
							span
								| #{index.havent_use.bullets.bullet_1}
						.span9
							img(src='img/lend/img-14.png', alt='')
							span
								| #{index.havent_use.bullets.bullet_2}
						.span9
							img(src='img/lend/img-15.png', alt='')
							span
								| #{index.havent_use.bullets.bullet_3}
					.block9
						img(src='img/lend/img-16.png', alt='')
						img(src='img/lend/img-17.png', alt='')
			.i_zdesi_net
				.block-mid
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
					.span10 #{index.benefits.title}
					.block11
						.span11
							| #{index.benefits.list_1.point_1.line_1}
							span #{index.benefits.list_1.point_1.line_2}
						.span11 #{index.benefits.list_1.point_2}
						.span11 #{index.benefits.list_1.point_3}
						.span11 #{index.benefits.list_1.point_4}
						.span11 #{index.benefits.list_1.point_5}
						.span11 #{index.benefits.list_1.point_6}
						.span11 #{index.benefits.list_1.point_7}
					.block12
						.span11 #{index.benefits.list_1.point_8}
						.span11
							| #{index.benefits.list_1.point_9.line_1}
							span #{index.benefits.list_1.point_9.line_2}
					.block14
						.span13-title #{index.benefits.list_2.title}
						.span13 #{index.benefits.list_2.point_1}
						.span13 #{index.benefits.list_2.point_2}
						.span13 #{index.benefits.list_2.point_3}
						.span13 #{index.benefits.list_2.point_4}
						.span13 #{index.benefits.list_2.point_5}
						.span13 #{index.benefits.list_2.point_6}
				.clear
			.dalshe_toje_net
				.line3
				.block-mid
					.block16
						.span14 #{index.course.use.title.line_1}
						.span-for #{index.course.use.title.line_2}
						img(src='img/lend/img-22.png', alt='')
						span #{index.course.use.steps.step_1}
						img(src='img/lend/img-23.png', alt='')
						span #{index.course.use.steps.step_2}
						img(src='img/lend/img-24.png', alt='')
						span #{index.course.use.steps.step_3}
						.span15
							| #{index.course.use.table.title.line_1}
							br
							| #{index.course.use.table.title.line_2}
						.block17
							.span16
								span #{index.course.use.table.row_1.column_1}
								span #{index.course.use.table.row_1.column_2}
								span #{index.course.use.table.row_1.column_3}
								span #{index.course.use.table.row_1.column_4}
							.span17
								span #{index.course.use.table.row_2.column_1}
								span #{index.course.use.table.row_2.column_2}
								span #{index.course.use.table.row_2.column_3}
								span #{index.course.use.table.row_2.column_4}
					.block18
						.span18 #{index.course.weeks.title}
						.block19
							.span19
								img(src='img/lend/img-25.png', alt='')
								span.weeks #{index.course.weeks.week_1.title}
								span.desc-week
									| #{index.course.weeks.week_1.text}
							.span19
								img(src='img/lend/img-26.png', alt='')
								span.weeks #{index.course.weeks.week_2.title}
								span.desc-week
									| #{index.course.weeks.week_2.text}
							.span19
								img(src='img/lend/img-27.png', alt='')
								span.weeks #{index.course.weeks.week_3.title}
								span.desc-week
									| #{index.course.weeks.week_3.text}
							.span19
								img(src='img/lend/img-28.png', alt='')
								span.weeks #{index.course.weeks.week_4.title}
								span.desc-week
									| #{index.course.weeks.week_4.text}
							a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
								img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
			.ya_ih_ubral
				.block-mid
					.span20 #{index.how.title.line_1}
					.span21 #{index.how.title.line_2}
					.span22
						span
							| #{index.how.text.p_1}
							br
							| #{index.how.text.p_2}
						img(src='img/lend/img-29.png', alt='')
						.clear
					.span23
						| #{index.how.bottom_text}
			.polnostiu
				.block-mid
					.span24 #{index.basis.title.line_1}
					.span25 #{index.basis.title.line_2}
					.block22
						.span26
							| #{index.basis.left_side.text_1}
						.span27
							| #{index.basis.left_side.text_2}
					.block23
						img.prod-l(src='img/lend/img-43.png', alt='')
						img.prod-l2(src='img/lend/img-44.png', alt='')
						.span28 #{index.basis.right_side.title}
						.block24
							.span29 #{index.basis.right_side.list.point_1.title}
							.span30
								| #{index.basis.right_side.list.point_1.text}
							.span29 #{index.basis.right_side.list.point_2.title}
							.span30
								| #{index.basis.right_side.list.point_2.text}
							.span29 #{index.basis.right_side.list.point_3.title}
							.span30
								| #{index.basis.right_side.list.point_3.text}
						a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
							img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
				.clear
			.iz_vseh
				.line5
				.block-mid
					.span31 #{index.expert.title.line_1}
					.span32 #{index.expert.title.line_2}
					.span33
						img(src='img/lend/img-30.png', alt='')
						img(src='img/lend/img-31.png', alt='')
						img(src='img/lend/img-32.png', alt='')
					.block26
						p
							| #{index.expert.text.p_1}
						p
							| #{index.expert.text.p_2}
						p
							| #{index.expert.text.p_3}
			.glavnih
				.block-mid
					.span36 #{index.customers.title}
					section.reviews
						.reviews-carousel
							.reviews-item-wrap
								.cont-f
								.reviews-item
									.span34
										span.span34-1 #{index.customers.from}
										span.span34-2 #{index.customers.reviews.customer_1.author}
									.span35
										| #{index.customers.reviews.customer_1.text}
									.block28
										img(src='img/lang/#{current_lang}/lend/img-33.png', alt='')
										img(src='img/lang/#{current_lang}/lend/img-34.png', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
								.cont-f.two
								.reviews-item
									.span34
										span.span34-1 #{index.customers.from}
										span.span34-2 #{index.customers.reviews.customer_2.author}
									.span35
										| #{index.customers.reviews.customer_2.text}
									.block28
										img(src='img/lang/#{current_lang}/lend/img-36.png', alt='')
										img(src='img/lang/#{current_lang}/lend/img-37.png', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
							.reviews-item-wrap
								.cont-f
								.reviews-item
									.span34
										span.span34-1 #{index.customers.from}
										span.span34-2 #{index.customers.reviews.customer_3.author}
									.span35
										| #{index.customers.reviews.customer_3.text}
									.block28
										img(src='img/lang/#{current_lang}/lend/img-33.png', alt='')
										img(src='img/lang/#{current_lang}/lend/img-34.png', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
								.cont-f.two
								.reviews-item
									.span34
										span.span34-1 #{index.customers.from}
										span.span34-2 #{index.customers.reviews.customer_4.author}
									.span35
										| #{index.customers.reviews.customer_4.text}
									.block28
										img(src='img/lang/#{current_lang}/lend/img-36.png', alt='')
										img(src='img/lang/#{current_lang}/lend/img-37.png', alt='')
										img.img8(src='img/lend/img-35.png', alt='')
						.reviews-carousel-nav-wrap
							.reviews-carousel-nav
								.reviews-carousel-arrows
								.reviews-carousel-dots
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
			.blokov
				.block-mid
					.span37 #{index.extra.title}
					.block30
						.span38 #{index.extra.points.point_1}
						.span39
							| #{index.extra.points.point_2.line_1}
							span #{index.extra.points.point_2.line_2}
						.span40
							| #{index.extra.points.point_3.line_1}
							span #{index.extra.points.point_3.line_2}
						.span41 #{index.extra.points.point_4}
						.span42
							| #{index.extra.points.point_5.line_1}
							span #{index.extra.points.point_5.line_2}
						.span43
							| #{index.extra.points.point_6.line_1}
							span #{index.extra.points.point_6.line_2}
						.span44
							| #{index.extra.points.point_7.line_1}
							span
								| #{index.extra.points.point_7.line_2}
								br
								| #{index.extra.points.point_7.line_3}
						.span45 #{index.extra.points.point_8}
						.clear
					.span45-5 #{index.arrow}
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')
					.clear
				.clear
			.raduysea
				.block-mid
					.span46 #{index.imagine.title}
					.block32.sup
						.span47
							| #{index.imagine.points.point_1.line_1}
							br
							| #{index.imagine.points.point_1.line_2}
							br
							| #{index.imagine.points.point_1.line_3}
						.span47
							| #{index.imagine.points.point_2.line_1}
							br
							| #{index.imagine.points.point_2.line_2}
							br
							| #{index.imagine.points.point_2.line_3}
						.span47
							| #{index.imagine.points.point_3.line_1}
							br
							| #{index.imagine.points.point_3.line_2}
							br
							| #{index.imagine.points.point_3.line_3}
					img.img9(src='img/lend/img-38.png', alt='')
					img.img9-9(src='img/lend/img-38-8.png', alt='')
					.block32.sub
						.span47
							| #{index.imagine.points.point_4.line_1}
							br
							| #{index.imagine.points.point_4.line_2}
							br
							| #{index.imagine.points.point_4.line_3}
						.span47
							| #{index.imagine.points.point_5.line_1}
							br
							| #{index.imagine.points.point_5.line_2}
							br
							| #{index.imagine.points.point_5.line_3}
						.span47
							| #{index.imagine.points.point_6.line_1}
							br
							| #{index.imagine.points.point_6.line_2}
							br
							| #{index.imagine.points.point_6.line_3}
					.span48
						| #{index.imagine.stripe}
					.span49 #{index.imagine.bottom_text}
					a.but-block.btn-buy.unbind-clik(href='cart-step1.html')
						img.img7(src='img/lang/#{current_lang}/lend/img-7.png')

				include include/footer

		include include/modals.jade

		include include/scripts